body {
	background-image:url("../img/bgschool.jpg");
	background-repeat: no-repeat;
	background-color:#535353;
}

.answers p, .answers hr {
	margin-left:0 !important;
	margin-right:0 !important;
}

img {
	margin: 0 .5em .5em 0;
	vertical-align: middle;
	display:inline;
}

/* Tags */
.question,
.answer {
	margin-left:0;
	margin-right:0;
}


.githubFork {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}